.vscode
__pycache__
team_1518207_data23_24
models/transfers.pkl
models/transfers.pkl
models/transfers.pkl
*.pkl
*.sav
*.pkl
models/model.sav
models/model.sav
models/hyperparams.pkl
*.sav
*.pkl
models/model.sav
data/2014-15/season_data.xlsx
data/2014-15/season_data.xlsx
models/model_data.csv
